asgiref==3.8.1
Babel==2.15.0
Django==5.0.6
docxcompose==1.4.0
docxtpl==0.17.0
et-xmlfile==1.1.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
setuptools==70.0.0
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.0
tzdata==2024.1
